# Secret files
.env
config.py
config.json
user_data/
secrets/
style_transfer/
*.key

# Python
__pycache__/
*.py[cod]
*.egg-info/
*.env
venv/
.pytest_cache

# IDE files
.idea/
.vscode/
*.swp
*.swo

# System files
.DS_Store
Thumbs.db

# Logs and databases
*.log
*.sqlite